* {
    /* 設定整份文件的所有元件都在其長寬的限制內 */
    box-sizing: border-box;
    /* 設定整份文件的字型為標楷體 */
    font-family: "標楷體";
    /* 設定整份文件的所有元件，內文如超過元件大小會隱藏 */
    overflow: hidden;
}

.main {
    width: 1024px;
    height: 768px;
    color: red;
    /* 用flex方式排版 */
    display: flex;
    /* 元件寬度超過設定寬度換行 */
    flex-wrap: wrap;
    /* 呈現水平置中效果 */
    margin:20px auto;
    padding:0 12px;
}

body>*:not(aside,section),aside>*,section>*{
    border:1px solid darkgray;
}

.top {
    width:1000px;
    height: 65px;
    color: blue;
}

.aside {
    width:215px;
    height: calc(768px - 65px - 20px);
    color: red;
}

.menu {
    width: 100%;
    height: calc(100% - 25px);
    color: blue;
}

.update {
    width: 100%;
    height: 25px;
    color: blue;
}

.section {
   width: calc(1000px - 215px);
   height: calc(768px - 65px -20px);
    color: red;
}

.marquee {
    width: 100%;
    height: 29px;
    color: blue;
}

.content {
    width: 100%;
    height: calc(100% - 29px);
    color: blue;
}

.footer {
    width: 1000px;
    height: 20px;
    color: blue;
}