* {
    box-sizing: border-box;
    font-family: '標楷體';
    overflow: hidden;
}

/* body .main */
.main {
    /* background-color: cornflowerblue; */
    display: flex;
    width: 1024px;
    padding: 0 12px;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* 
    body 內 除了aside section 都要上border
    aside 內 上border (menu update)
    section 內 上border (marquee content)
*/
body>*:not(aside, section), aside>*, section>* {
/* body>*, aside>*, section>* { */
    border: 1px solid lightgray;
}

/* .top */
.top {
    flex-basis: 1000px;
    height: 65px;
}



/* aside  */

.aside {
    /* width: 215px; */
    /* 此時是column */
    /* width 是 次軸 */
    /* flex-basis: 215px;  */
    width: 215px;
    height: calc(768px - 65px - 20px);
    display: flex;
    flex-direction: column;
    
}

/* aside .menu  */
.menu {
    /* 對於元件 basis 主軸長度 */
    flex-basis:calc(100% - 25px);    
}

/* aside .menu  header */
.aside-menu-header{
    color: #FF00FF;
    font-size: 24px;
    text-decoration: underline;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}


/* aside .menu  nav a */
.aside>nav>a{
    color: #000000;
    background: url('../images/menu1.png');
    display: inline-block;
    width: 200px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-decoration: none;
}

#myLink{
    text-decoration: underline;
}

.aside>nav>a:hover{
    background: url('../images/menu2.png');
}

/* aside .menu  */
.update {
    /* 對於元件 basis 主軸長度 */
   flex-basis: 25px;
}


/* section */
.section{
     width: calc(1000px - 215px); 
    /* flex-basis: calc(1000px - 215px); */
    display: flex;
    flex-flow: column nowrap; 
}

.marquee {
    flex-basis: 29px ;
    padding: 0 calc((100% - 770px -2px) /2);
    font-family: '標楷體';
    font-size: 24px;
    color: #0000FF;
}

.content {
    flex-basis: calc(100% - 29px);
    padding:calc((100% - 770px - 2px) /2);
    
}

.footer {
   flex-basis: 1000px;
   height:20px;
   color: black; 
}